html {
    scroll-behavior: smooth;
}
h1 {
    font-family: 'Manjari', 'Noto Sans TC', sans-serif;
    margin: 0;
    font-size: 40px;
    line-height: normal;
    color: rgb(14, 63, 34);
}
p {
    font-family: 'Manjari', 'Noto Sans TC', sans-serif;
    margin: 0;
    font-size: 26px;
    line-height: normal;
    color: rgb(14, 63, 34);
}
/* ↓↓ Navbar--by sui ↓↓ 2019-09-21新增 */
nav .container ul .dropdown .btn-success {
    background-color: rgba(255, 255, 255, 0);
    border: unset;
}
nav .container ul .dropdown-toggle::after {
    border-top-color: rgb(14, 63, 34);
}
nav .container ul .dropdown-menu {
    background-color: rgb(164, 241, 195);
    border-color: none;
    box-shadow: 0 4px 8px 0 rgba(14, 63, 34, 0.2), 0 6px 20px 0 rgba(14, 63, 34, 0.19);
    position: absolute;
}
@media(max-width:576px) {
    nav .container ul li {
        padding-right: 17px;
    }
}
/* ↑↑ Navbar--by sui ↑↑ 2019-09-21新增 */

/* Banner + 活動 + 輪播 (瑄) */
/* 2019-09-18 新增的 (瑄)*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#banner{
    height: calc(100vh - 120px);
    width: 100%;
}
#activity{
    padding-top: 120px;
}
.activity_1{
    height: 310px;
}
.activity_2{
    height: 310px;
}
/* swiper 區域 */
#product_swiper{
    padding-top: 120px;
}
.swiper-container {
    width: 100%;
    height: 310px;
  }
.bg-img {
    background-size: cover;
    background-position: center;
}

/* 結束 2019-09-18新增的 (瑄)*/
/* ↓↓ story+about by Derrick ↓↓ 2019-09-23 */
#story{
    padding-top: 120px;
}

.car_img {
    height: 310px;
    margin-bottom: 60px;
}

.img_ {
    width: 100%;
    height: 100%;
}

.Story2013 {
    justify-content: center;
}

.old_store {
    padding-top: 60px; 
}
.OldLogo{
    padding-top: 60px;
}

.VideoContainer {
    width: 465px;
    height: 310px;
    background-color: black;
    padding-top: 25px;
}

.NewStore-img {
    padding-top: 215px;
}

.NewStoreContent {
    padding-top: 75px;
}

#about {
    padding-top: 120px;
}

.about_us {
    justify-content: center;
}

.about_title {
    justify-content: start;
}

.about_content{
    padding-top: 60px;
}
.VideoGroup {
    padding: 60px 0;
    justify-content: center;
}

@media(max-width:1199px) {
    .car_img {
        margin: 60px 0;
    }

    .img_ {
        height: 310px;
    } */

    .offset-xl-2 {
        margin-left: 0;
    }
    .videoA{
        margin-bottom: 60px;
    }
    .NewStoreContent{
        order: 1;
        padding-bottom: 30px;
    }
    .OldLogo{
        order: 2;
    }
    .NewStore-img{
        order: 3;
    }
    .car_img-tablet{
        margin-top: 60px;
        width: 329px;
        height: 310px;

    }
    .car_img-tablet .img_tablet{
        width: 100%;
        height: 100%;
        background-position:0 -30px;
        background-size: cover; 
    }
    .car_img{
        display: none;
    }
    }
/* ↑↑ story+about by Derrick ↑↑ 2019-09-23 */

/* ↓↓ Mesona Introduce--by sui ↓↓ 2019-09-21新增 */
#mesona {
    padding-top: 120px;
}
#mesona .row p {
    padding-top: 60px;
}
/* ↑↑ Mesona Introduce--by sui ↑↑ 2019-09-21新增 */

/* ↓↓ Menu--by sui ↓↓ 2019-09-21新增 */
#menu {
    padding-top: 120px;
}
.cursor {
    cursor: pointer;
}
#menu .menu_1 {
    padding-bottom: 60px;
}
#menu .row .menu_img {
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
#menu .row .menu_img.hover_shadow {
    transition: 0.3s;
}
#menu .row .menu_img.hover_shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#menu .menu_a {
    background-image: url('./img/mesona_jelly.jpg')
}
#menu .menu_b {
    background-image: url('./img/ice.jpg')
}
#menu .menu_c {
    background-image: url('./img/smoothie.jpg')
}
#menu .menu_d {
    background-image: url('./img/tea.jpg')
}
#menu .menu_e {
    background-image: url('./img/brown_sugar.jpg')
}
#menu .menu_f {
    background-image: url('./img/hot_mesona.jpg')
}
#menu .menu_g {
    background-image: url('./img/dessert.jpg')
}
#menu .menu_h {
    background-image: url('./img/ginger_brown_sugar.jpg')
}
#menu .menu_1.row .cursor p,#menu .menu_2.row .cursor p {
    padding: 10px;
}
#menu .modal {
    display: none;
    position: fixed;
    z-index: 1280;
    width: 100%;
    height: 100vh;
    padding: 30px 60px;
    background-color: rgba(14, 63, 34, 0.7);
}
#menu .modal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
#menu .modal .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
#menu #menu_group .modal-content .mySlides .menu_img {
    width: 50%;
    height: 310px;
    background-size: cover;
    background-position: center;
}
#menu #menu_group .modal-content .mySlides .menu_part {
    width: 50%;
    padding: 75px 60px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.next {
    right: 0;
}

#menu #menu_group_2 .modal-content .mySlides_2 .menu_img {
    width: 50%;
    height: 310px;
    background-size: cover;
    background-position: center;
}
#menu #menu_group_2 .modal-content .mySlides_2 .menu_part {
    width: 50%;
    padding: 75px 60px;
}


@media(max-width: 992px) {
    #menu .row .col.cursor {
        min-width: 30%;
    }
    #menu #menu_group .modal-content .mySlides .menu_img {
        width: 100%;
        background-size: cover;
    }
    #menu #menu_group .modal-content .mySlides .menu_part {
        width: 100%;
        padding: 30px 60px;
    }
    #menu #menu_group_2 .modal-content .mySlides_2 .menu_img {
        width: 100%;
        background-size: cover;
    }
    #menu #menu_group_2 .modal-content .mySlides_2 .menu_part {
        width: 100%;
        padding: 30px 60px;
    }
}
@media(max-width: 576px) {
    #menu #menu_group .modal-content .mySlides .menu_part {
        padding: 30px 30px;
    }
    #menu #menu_group_2 .modal-content .mySlides_2 .menu_part {
        padding: 30px 30px;
    }
}
/* ↑↑ Menu--by sui ↑↑ 2019-09-21新增 */


/* ↓↓ footer--by sui ↓↓ 2019-09-21新增 */
footer {
    background-color: rgb(70, 155, 104);
}
footer .container .content i {
    font-size: 40px;
    color: rgb(14, 63, 34);
    margin-left: 30px;
}
footer h1 {
    font-size: 26px;
}
footer .copyright {
    background-color: rgb(14, 63, 34);
}
footer p {
    font-size: 13px;
    color: white;
}
@media(max-width:768px) {
    footer .container .content i{
        font-size: 26px;
        margin-left: 15px;
    }
    footer h1 {
        font-size: 20px;
    }
}
@media(max-width:576px) {
    footer .container .content i{
        font-size: 18px;
        margin-left: 10px;
    }
    footer h1 {
        font-size: 18px;
    }
}
/* ↑↑ footer--by sui ↑↑ 2019-09-21新增 */


/* parallax+interview+contact_by_chiwen_2019_09_23 */
#interview{
    padding-top: 120px;
}
#contact{
    padding-top: 120px;
}
#interview h1 {
    margin: 45px 0;
}
#contact h1 {
    margin: 45px 0;
}
#interview a{
    font-size: 22px;
}
.contact_information p{
    margin: 0;
    padding: 10px 0 10px 80px;
}
.cooperation_platform p{
    margin: 0;
    padding: 10px 0 10px 80px;
}


.parallax_content {
    width: 100%;
    height: 100vh;
    
    background-image: url("/img/all.jpg");
    background-size: cover;
    background-position-y: 60%;
    background-attachment: fixed;
}

.media_content {
    margin-left: 80px;
    line-height: 40px;
    
}
.media_content i{
    font-size: 20px;
    margin-right: 10px;
    color: gray;
}


.contact_information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.contact_information .community_app {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.contact_information .community_app .messenger {
    width: 60px;
    height: 60px;

}
.contact_information .community_app .facebook {
    width: 60px;
    height: 60px;

    margin: 0 30px;
}
.contact_information .community_app .messenger i {
    color: dodgerblue;
    font-size: 60px;
}
.contact_information .community_app .facebook i {
    color: darkblue;
    font-size: 60px;
    
}
.contact_information .community_app .instagram i {
    color: coral;
    font-size: 60px;
}
.contact_information .community_app .instagram {
    width: 60px;
    height: 60px;

}
.cooperation_platform {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cooperation_platform .delivery_app {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cooperation_platform .delivery_app .order {
    width: 60px;
    height: 60px;
    margin-left: 30px;
}

.cooperation_platform .delivery_app .order .app_img {
    
    height: 100%;
}

.cooperation_platform .delivery_app .ubereats {
    width: 60px;
    height: 60px;
    margin-left: 30px;
}

.cooperation_platform .delivery_app .ubereats .app_img {
    
    height: 100%;

}

@media(max-width: 767px) {
    .parallax_content {
        height: 50vh;
        background-size: contain;
        background-position-y: unset;
        background-repeat: no-repeat;
    }
    .contact_information {
        display: block;
        flex-wrap: wrap;
        text-align: center;
        margin: 0;
    }

    .cooperation_platform {
        display: block;
        flex-wrap: wrap;
        text-align: center;
    }
    .contact_information .address_time p{
        padding: 10px 0 10px 0;
    }
    .contact_information .community_app {
        justify-content: center;
        margin: 30px 0 30px 0;
    }

    .contact_information .community_app .facebook {
        margin: 0 40px;
    }
    .cooperation_platform .platforms p{
        padding: 10px 0 10px 0;
    }
    .cooperation_platform .delivery_app p{
        padding: 10px 0 10px 0;
    }
    .cooperation_platform .delivery_app {
        justify-content: center;
        margin-top: 30px;
    }
    .cooperation_platform .delivery_app .text {
        display: none;
    }
    .cooperation_platform .delivery_app .order {
        margin: unset;
    }
    
    .cooperation_platform .delivery_app .ubereats {
        margin-left: 60px;
    }

}

@media(max-width: 575px) {
    .media_content {
        margin: 0;
    }
    .parallax_content {
        height: 50vh;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
}
/* parallax+interview+contact_by_chiwen_2019_09_23 */



/* 開始--2019-09-22 add by Lynn */
    /* 800px 以上顯示 */
@media only screen and (min-width: 800px){
    .grid-container {
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap: 50px 10px;
    padding: 10px;
}
    .mr-lr{
        margin:0 80px;
}
}

/* 800px 以下顯示 */
@media (max-width: 800px){
    #endding_img img{
        max-height: 310px;
        max-width: 100%;}
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 70px 30px;
        padding: 10px;
}
}
.grid-container>div {
    background-color:#736357;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}
.mr-up {
    margin: 50px 0 0 0;
}   
.text-color{
    color:white;
}
.ed-img {
    background-size: cover;
    background-position: center;
    max-width: 100%;
}

/* 結束--2019-09-22 add by Lynn */
