html {
    scroll-behavior: smooth;
    font-family: 'Manjari', 'Noto Sans TC', sans-serif;
}
/* Banner + 活動 + 輪播 (瑄) */
/* 2019-09-18 新增的 (瑄)*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#banner{
    height: calc(100vh - 120px);
    width: 100%;
}
#activity{
    padding-top: 120px;
}
.activity_1{
    height: 310px;
}
.activity_2{
    height: 310px;
}
/* swiper 區域 */
#product_swiper{
    padding-top: 120px;
}
.swiper-container {
    width: 100%;
    height: 310px;
  }
.bg-img {
    background-size: cover;
    background-position: center;
}

/* 結束 2019-09-18新增的 (瑄)*/

/*  開始2019-09-19 新增的 (lynn) */
@media (min-width: 1200px) {}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    background-color: rgb(216, 253, 205);
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(216, 215, 215, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}

.mr-up {
    margin: 50px 0 0 0;
}

/* 結束 2019-09-19 新增的 (lynn)*/