html {
    scroll-behavior: smooth;
}
h1 {
    font-family: 'Manjari', 'Noto Sans TC', sans-serif;
    margin: 0;
    font-size: 40px;
    line-height: normal;
    color: rgb(14, 63, 34);
}
p {
    font-family: 'Manjari', 'Noto Sans TC', sans-serif;
    margin: 0;
    font-size: 26px;
    line-height: normal;
    color: rgb(14, 63, 34);
}
/* ↓↓ Navbar--by sui ↓↓ 2019-09-21新增 */
nav .container ul .dropdown .btn-success {
    background-color: rgba(255, 255, 255, 0);
    border: unset;
}
nav .container ul .dropdown-toggle::after {
    border-top-color: rgb(14, 63, 34);
}
nav .container ul .dropdown-menu {
    background-color: rgb(164, 241, 195);
    border-color: none;
    box-shadow: 0 4px 8px 0 rgba(14, 63, 34, 0.2), 0 6px 20px 0 rgba(14, 63, 34, 0.19);
    position: absolute;
}
@media(max-width:576px) {
    nav .container ul li {
        padding-right: 17px;
    }
}
/* ↑↑ Navbar--by sui ↑↑ 2019-09-21新增 */

/* Banner + 活動 + 輪播 (瑄) */
/* 2019-09-18 新增的 (瑄)*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#banner{
    height: calc(100vh - 120px);
    width: 100%;
}
#activity{
    padding-top: 120px;
}
.activity_1{
    height: 310px;
}
.activity_2{
    height: 310px;
}
/* swiper 區域 */
#product_swiper{
    padding-top: 120px;
}
.swiper-container {
    width: 100%;
    height: 310px;
  }
.bg-img {
    background-size: cover;
    background-position: center;
}

/* 結束 2019-09-18新增的 (瑄)*/

/* ↓↓ Mesona Introduce--by sui ↓↓ 2019-09-21新增 */
#mesona {
    padding-top: 120px;
}
#mesona .row p {
    padding-top: 60px;
}
/* ↑↑ Mesona Introduce--by sui ↑↑ 2019-09-21新增 */

/* ↓↓ Menu--by sui ↓↓ 2019-09-21新增 */
#menu {
    padding-top: 120px;
}
.cursor {
    cursor: pointer;
}
#menu .menu_1 {
    padding-bottom: 60px;
}
#menu .row .menu_img {
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
#menu .row .menu_img.hover_shadow {
    transition: 0.3s;
}
#menu .row .menu_img.hover_shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#menu .menu_a {
    background-image: url('./img/mesona_jelly.jpg')
}
#menu .menu_b {
    background-image: url('./img/ice.jpg')
}
#menu .menu_c {
    background-image: url('./img/smoothie.jpg')
}
#menu .menu_d {
    background-image: url('./img/tea.jpg')
}
#menu .menu_e {
    background-image: url('./img/brown_sugar.jpg')
}
#menu .menu_f {
    background-image: url('./img/hot_mesona.jpg')
}
#menu .menu_g {
    background-image: url('./img/dessert.jpg')
}
#menu .menu_h {
    background-image: url('./img/ginger_brown_sugar.jpg')
}
#menu .menu_1.row .cursor p,#menu .menu_2.row .cursor p {
    padding: 10px;
}
#menu .modal {
    display: none;
    position: fixed;
    z-index: 1280;
    width: 100%;
    height: 100vh;
    padding: 30px 60px;
    background-color: rgba(14, 63, 34, 0.7);
}
#menu .modal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
#menu .modal .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
#menu #menu_group .modal-content .mySlides .menu_img {
    width: 50%;
    height: 310px;
    background-size: cover;
    background-position: center;
}
#menu #menu_group .modal-content .mySlides .menu_part {
    width: 50%;
    padding: 75px 60px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.next {
    right: 0;
}

#menu #menu_group_2 .modal-content .mySlides_2 .menu_img {
    width: 50%;
    height: 310px;
    background-size: cover;
    background-position: center;
}
#menu #menu_group_2 .modal-content .mySlides_2 .menu_part {
    width: 50%;
    padding: 75px 60px;
}


@media(max-width: 992px) {
    #menu .row .col.cursor {
        min-width: 30%;
    }
    #menu #menu_group .modal-content .mySlides .menu_img {
        width: 100%;
        background-size: cover;
    }
    #menu #menu_group .modal-content .mySlides .menu_part {
        width: 100%;
        padding: 30px 60px;
    }
    #menu #menu_group_2 .modal-content .mySlides_2 .menu_img {
        width: 100%;
        background-size: cover;
    }
    #menu #menu_group_2 .modal-content .mySlides_2 .menu_part {
        width: 100%;
        padding: 30px 60px;
    }
}
@media(max-width: 576px) {
    #menu #menu_group .modal-content .mySlides .menu_part {
        padding: 30px 30px;
    }
    #menu #menu_group_2 .modal-content .mySlides_2 .menu_part {
        padding: 30px 30px;
    }
}
/* ↑↑ Menu--by sui ↑↑ 2019-09-21新增 */

/*  開始2019-09-19 新增的 (lynn) */
@media (min-width: 1200px) {}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    background-color: rgb(216, 253, 205);
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(216, 215, 215, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}

.mr-up {
    margin: 50px 0 0 0;
}

/* 結束 2019-09-19 新增的 (lynn)*/

/* ↓↓ footer--by sui ↓↓ 2019-09-21新增 */
footer {
    background-color: rgb(70, 155, 104);
}
footer .container .content i {
    font-size: 40px;
    color: rgb(14, 63, 34);
    margin-left: 30px;
}
footer h1 {
    font-size: 26px;
}
footer .copyright {
    background-color: rgb(14, 63, 34);
}
footer p {
    font-size: 13px;
    color: white;
}
@media(max-width:768px) {
    footer .container .content i{
        font-size: 26px;
        margin-left: 15px;
    }
    footer h1 {
        font-size: 20px;
    }
}
@media(max-width:576px) {
    footer .container .content i{
        font-size: 18px;
        margin-left: 10px;
    }
    footer h1 {
        font-size: 18px;
    }
}
/* ↑↑ footer--by sui ↑↑ 2019-09-21新增 */