html {
  scroll-behavior: smooth;
  font-family: "Manjari", "Noto Sans TC", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

#banner {
  margin-top: 120px;
}

#banner .banner-outer {
  width: 100%;
  height: calc(100vh - 120px);
  background-size: cover;
}

#banner .banner-outer .banner-mid {
  width: 100%;
  height: 100%;
  background-color: rgba(14, 63, 34, 0.4);
}

#banner .banner-outer .banner-mid .banner-inside {
  padding: 120px 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
}

@media (max-width: 767.99px) {
  #activity .container {
    margin-top: 60px;
  }
  #activity .container .desktop-tablet-activity {
    display: none;
  }
  #activity .container .mobile-activity .box-left .fontAll-1 {
    width: 100%;
  }
  #activity .container .mobile-activity .box-left .fontAll-1 .font-1 {
    margin-top: 30px 0;
    padding-top: 33px;
  }
  #activity .container .mobile-activity .box-left .fontAll-1 .font-2 {
    padding-top: 57px;
  }
  #activity .container .mobile-activity .box-left .img-1 {
    width: 100%;
  }
  #activity .container .mobile-activity .box-under {
    margin: 60px 0;
  }
  #activity .container .mobile-activity .box-under .fontAll-2 {
    width: 100%;
  }
  #activity .container .mobile-activity .box-under .fontAll-2 .font-1 {
    width: 100%;
    padding-bottom: 30px;
  }
  #activity .container .mobile-activity .box-under .fontAll-2 .font-2 {
    width: 100%;
  }
  #activity .container .mobile-activity .box-under .img-2 {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199.99px) {
  #activity .container .mobile-activity {
    display: none;
  }
  #activity .container .desktop-tablet-activity {
    margin-top: 120px;
  }
  #activity .container .desktop-tablet-activity .row .box-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #activity .container .desktop-tablet-activity .row .box-left .fontAll-1 {
    width: calc(50% - 15px);
  }
  #activity .container .desktop-tablet-activity .row .box-left .fontAll-1 .font-1 {
    padding-top: 33px;
  }
  #activity .container .desktop-tablet-activity .row .box-left .fontAll-1 .font-2 {
    padding-top: 57px;
  }
  #activity .container .desktop-tablet-activity .row .box-left .img-1 {
    margin-left: 30px;
    width: calc(50% - 15px);
  }
  #activity .container .desktop-tablet-activity .row .box-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 60px auto;
  }
  #activity .container .desktop-tablet-activity .row .box-right .fontAll-2 {
    width: calc(50% - 45px);
  }
  #activity .container .desktop-tablet-activity .row .box-right .fontAll-2 .font-1 {
    padding-top: 10.5px;
  }
  #activity .container .desktop-tablet-activity .row .box-right .fontAll-2 .font-2 {
    padding-top: 59.3px;
  }
  #activity .container .desktop-tablet-activity .row .box-right .img-2 {
    margin-left: 30px;
    width: calc(50% + 15px);
    height: 100%;
  }
}

@media (min-width: 1200px) {
  #activity .offset-md-2 {
    margin-left: unset;
  }
  #activity .container .mobile-activity {
    display: none;
  }
  #activity .container .desktop-tablet-activity {
    margin: 120px auto;
  }
  #activity .container .desktop-tablet-activity .row .box-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #activity .container .desktop-tablet-activity .row .box-left .fontAll-1 {
    width: 61.6%;
  }
  #activity .container .desktop-tablet-activity .row .box-left .fontAll-1 .font-1 {
    padding-top: 46px;
  }
  #activity .container .desktop-tablet-activity .row .box-left .fontAll-1 .font-2 {
    padding-top: 60px;
  }
  #activity .container .desktop-tablet-activity .row .box-left .img-1 {
    width: 38.4%;
    height: 100%;
    margin-left: 30px;
    margin-top: unset;
  }
  #activity .container .desktop-tablet-activity .row .box-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #activity .container .desktop-tablet-activity .row .box-right .fontAll-2 {
    width: 57%;
  }
  #activity .container .desktop-tablet-activity .row .box-right .fontAll-2 .font-1 {
    padding-top: 46px;
  }
  #activity .container .desktop-tablet-activity .row .box-right .fontAll-2 .font-2 {
    padding-top: 60px;
  }
  #activity .container .desktop-tablet-activity .row .box-right .img-2 {
    width: 43%;
    height: 100%;
    margin-top: unset;
    margin-left: 30px;
  }
}

@media (max-width: 767.99px) {
  #product-swiper .arrowBox-computer {
    display: none;
  }
  #product-swiper .container.swiper-container2 .swiper-wrapper .row .col-md-8 .box-img .img-swiper,
  #product-swiper .container.swiper-container2 .swiper-wrapper .row .offset-md-2 .box-img .img-swiper {
    width: 100%;
    height: 310px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #product-swiper .container.swiper-container2 .arrowBox-tablet .arrowAll .button-prev2, #product-swiper .container.swiper-container2 .arrowBox-tablet .arrowAll .button-next2 {
    cursor: pointer;
    font-size: 45px;
  }
  #product-swiper .container.swiper-container2 {
    max-width: unset;
    position: relative;
    overflow: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  #product-swiper .container.swiper-container2 .swiper-wrapper .row {
    margin: 0;
  }
  #product-swiper .container.swiper-container2 .swiper-wrapper .row .col-md-8,
  #product-swiper .container.swiper-container2 .swiper-wrapper .row .offset-md-2 {
    width: 100vw;
    padding: 0;
  }
  #product-swiper .container.swiper-container2 .arrowBox-tablet {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  #product-swiper .container.swiper-container2 .arrowBox-tablet .arrowAll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199.99px) {
  #product-swiper .arrowBox-computer {
    display: none;
  }
  #product-swiper .swiper-container {
    display: none;
  }
  #product-swiper .container.swiper-container2 .swiper-wrapper .box-img .img-swiper {
    width: 100%;
    height: 310px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #product-swiper .container.swiper-container2 .arrowBox-tablet .arrowAll .button-prev2, #product-swiper .container.swiper-container2 .arrowBox-tablet .arrowAll .button-next2 {
    cursor: pointer;
    font-size: 45px;
  }
  #product-swiper .container.swiper-container2 {
    position: relative;
    overflow: hidden;
  }
  #product-swiper .container.swiper-container2 .arrowBox-tablet {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 1;
  }
  #product-swiper .container.swiper-container2 .arrowBox-tablet .arrowAll {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #product-swiper .container.swiper-container2 .arrowBox-tablet .arrowAll .button-prev2 {
    padding-left: 45px;
  }
  #product-swiper .container.swiper-container2 .arrowBox-tablet .arrowAll .button-next2 {
    padding-right: 45px;
  }
}

@media (min-width: 1200px) {
  #product-swiper .container .swiper-wrapper .row .col-xl-6 .img-swiper, #product-swiper .container .swiper-wrapper .row .img-swiper2 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #product-swiper .container .arrowBox-computer .arrowAll .box-74 .button-prev, #product-swiper .container .arrowBox-computer .arrowAll .box-74 .button-next {
    cursor: pointer;
    font-size: 45px;
  }
  #product-swiper .swiper-container2 {
    display: none;
  }
  #product-swiper .arrowBox-computer {
    display: block;
  }
  #product-swiper .arrowBox-tablet {
    display: none;
  }
  #product-swiper .container {
    position: relative;
    height: 310px;
    overflow: hidden;
  }
  #product-swiper .container .arrowBox-computer {
    width: 1110px;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 1;
  }
  #product-swiper .container .arrowBox-computer .arrowAll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #product-swiper .container .arrowBox-computer .arrowAll .box-74 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 74px;
    height: 310px;
  }
  #product-swiper .container .swiper-wrapper .row {
    height: 100%;
  }
  #product-swiper .container .swiper-wrapper .row .col-xl-6 {
    height: 100%;
  }
  #product-swiper .container .swiper-wrapper .row .col-xl-6 .box-img {
    height: 100%;
    padding-left: 74px;
  }
  #product-swiper .container .swiper-wrapper .row .img-swiper2 {
    width: 40.88%;
    margin-left: 15px;
  }
}
/*# sourceMappingURL=style.css.map */